@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 1.5px;
  margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: url('background2.jpg');
    margin-bottom: 20%;
}

li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color : #3F250B;
    text-decoration: none;
}

p.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color : #3F250B;
    text-decoration: none;
}

header {
    padding: 0;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 8%;
    /* background-color: rgba(245, 222, 179,0.85); */
}

.list {
    list-style: None;
}

.list li {
    display: inline-block;
    padding: 0px 20px;
}

.list li a , .logo {
    transition: all 0.3s ease 0s;
}

.list li a:hover{
   color: rgb(167, 102, 17);
}

.sign-form
{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    width: 350px;
    padding: 20px;
    background: rgb(245, 235, 215);
    margin: 5% auto 0;
    text-align: center;
}

.username , .password , .contactno
{
    border-radius: 30px;
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    margin-top: 5%;
    font-size: medium;
}


.submit-btn
{
    border-radius: 20px;
    width: 40%;
    padding: 6px;
    background: rgb(238, 181, 108);
    text-shadow: black;
    font-size: medium;
    margin-bottom: 5%;
}

.submit-btn:hover
{
    cursor: pointer;
}

.alert
{
    border-radius: 5px;
    background-color: rgba(255,0,0,0.4);
    background-position: center;
    text-align: center;
    display: None;
} 

ul {
    list-style-type: none;
}

.products{
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    width: 40%;
    height: 60vh;
    text-align: center;
}

.product{
    margin-top: 2%;
    background-color: rgba(240, 180, 101, 0.87);
    height: 18vh;
    border-radius: 10px;
}

.cartinfo h2{
text-align: center;
}

.cartinfo li{
    margin-left: 10px;
    margin-top: 20px;
    justify-content: flex-end;
}

.cartinfo{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgba(235, 170, 86,0.9);
    width: 20%;
    height: 60vh;
    float: right;
    border-radius: 20px;
}

.remove-from-cart{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 50px;
    margin-right:2%;
    position: relative;
    float: right;
    height: 3.8vh;
    border-radius: 5px;
    width: auto;
    background-color: rgba(241, 201, 114, 0.685);
}

.remove-from-cart:hover{
    cursor: pointer;
}

.product-info
{
    margin: 1% 1.2%;
    float: left;
    width: 135px;
}

.qty{
    margin-top: 99px;
    margin-left: 10px;
    float: left;
    width: 20px;
    height: 22px;
    background-color: rgba(241, 236, 225, 0.685);
    border-radius: 7px;
}

.qty:hover{
    cursor: pointer;
}

.left{
    float: left;
    text-align: left;
    padding-right: 50px;
}

.center{
    text-align: center;
}

.right{
    float: right;
    text-align: right;
    padding-right: 50px;
}